:root {
  --system-font: -apple-system, BlinkMacSystemFont, “Segoe UI”, “Roboto”,
    “Oxygen”, “Ubuntu”, “Cantarell”, “Fira Sans”, “Droid Sans”, “Helvetica Neue”,
    sans-serif;
  --gray-color: #444d56;
  --hover-color: #bebfc1;
  --header-bg: #24292e;
  --color-btn-shadow: 0 1px 0 rgba(27, 31, 35, 0.04);
  --color-btn-inset-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.25);
  --subtle-border-color: rgba(27, 31, 35, 0.15);
  --link-hover: #0366d6;
  --muted-gray: #586069;
  --light-gray: rgba(225, 225, 224, 0.15);
}

* {
  margin: 0;
  padding: 0;
}

.profile-page {
  display: none;
}

header {
  /* height: 60px; */
  padding: 16px 0;
  background-color: var(--header-bg);
}

nav {
  padding: 0 16px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .mobile-links {
  display: none;
  padding: 10px 16px 0;
}

header .mobile-links ul {
  padding-inline-start: 0;
  list-style-type: none;
}

header .mobile-links ul li {
  padding: 8px 0;
  border-bottom: 1px solid var(--light-gray);
}

header .mobile-links ul li:last-child {
  border-bottom: none;
}

header .mobile-links ul li a {
  color: #fff;
  font-family: var(--system-font);
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
  width: 100%;
}

header .mobile-links ul li a.flex-link {
  display: flex;
  align-items: center;
}

header .mobile-links ul li a.flex-link span {
  margin-left: 5px;
}

header .mobile-links ul li a.flex-link .sign-out-icon {
  fill: #fff;
}

header .mobile-links ul li a:hover .sign-out-icon {
  fill: var(--hover-color);
}

header .mobile-links ul li a:hover {
  color: var(--hover-color);
}

header .mobile-links ul li .search-group {
  position: relative;
}

header .mobile-links ul li .search-group img {
  position: absolute;
  right: 12px;
  width: 19px;
  top: 6px;
}

header .mobile-links ul li input.mobile-search-input {
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--light-gray);
  border-radius: 6px;
  padding: 6px 12px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  font-family: var(--system-font);
  margin-bottom: 8px;
}

input.mobile-search-input::placeholder {
  color: var(--hover-color);
}

header .mobile-links img {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

nav.hidden-nav {
  padding: 0;
  margin-left: -16px;
  margin-right: -16px;
  border-bottom: 1px solid var(--subtle-border-color);
  background-color: #fff;
  z-index: 5;
  position: sticky;
  top: 0;
}

nav.hidden-nav .tab-list li .tab-icons {
  display: none;
}

nav button.resp-menu-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

nav button.resp-menu-btn .burger-menu {
  fill: #fff;
}

nav button.resp-menu-btn .burger-menu:hover {
  fill: var(--hover-color);
}

.logo-icon {
  fill: #fff;
}

.logo-icon:hover {
  fill: var(--hover-color);
}

.search-input {
  display: none;
  margin-right: 20px;
  width: 270px;
  background-color: transparent;
  border: 1px solid var(--gray-color);
  border-radius: 6px;
  color: #fff;
  outline: none;
  padding: 5px 14px;
}
.search-input::placeholder {
  color: var(--hover-color);
  font-size: 14px;
}

.left-section {
  display: flex;
}

ul.main-nav {
  display: none;
}

.other-nav {
  display: flex;
}

ul.main-nav,
.other-nav {
  padding-inline-start: 0;
  align-items: center;
}

.main-nav li,
.other-nav li {
  display: flex;
  align-items: center;
  color: #fff;
  font-family: var(--system-font);
  font-weight: 600;
  font-size: 14px;
}

.main-nav li {
  margin-right: 20px;
}

.other-nav li:nth-child(2),
.other-nav li:nth-child(3) {
  display: none;
}

.main-nav li a,
.other-nav li a {
  color: #fff;
  font-family: var(--system-font);
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
}

.main-nav li a .lg-screen {
  display: none;
}

.main-nav li a:hover,
.other-nav li a:hover {
  color: var(--hover-color);
}

.notif-group {
  position: relative;
}

.notification-icon,
.action-icon {
  fill: #fff;
}

.notification-icon:hover {
  fill: var(--hover-color);
  cursor: pointer;
}

.blue-dot {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-image: linear-gradient(#54a3ff, #006eed);
  display: block;
  position: absolute;
  border: 2px solid var(--header-bg);
  top: -7px;
  right: -3px;
  z-index: 2;
}

.new-actions {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.down-caret {
  margin-left: 4px;
  border-top-style: solid;
  border-top-width: 4px;
  border-right: 4px solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 4px solid transparent;
}

.new-actions:hover .down-caret {
  border-top-color: var(--hover-color);
  cursor: pointer;
}

.new-actions:hover .action-icon {
  fill: var(--hover-color);
  cursor: pointer;
}

.profile-actions {
  display: flex;
  align-items: center;
}

.profile-actions img {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.profile-down-caret {
  margin-left: 4px;
  border-top-style: solid;
  border-top-width: 4px;
  border-right: 4px solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 4px solid transparent;
}

.profile-actions:hover {
  cursor: pointer;
}

.profile-actions:hover .profile-down-caret {
  border-top-color: var(--hover-color);
}

.profile-tabs {
  display: none;
}

.left-col {
  padding: 0 16px;
  /* margin: auto 0; */
}

.left-col .sticky-profile-grp {
  display: none;
  align-items: center;
}

.sticky-profile-grp img {
  width: 32px;
  height: 32px;
  border-radius: 100%;
}

.sticky-profile-grp .username-plus-btn {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.sticky-profile-grp .username-plus-btn span {
  font-family: var(--system-font);
  font-size: 14px;
  color: var(--header-bg);
  font-weight: 500;
}

.sticky-profile-grp .username-plus-btn button {
  cursor: pointer;
  font-family: var(--system-font);
  font-size: 12px;
  color: var(--header-bg);
  padding: 1px 8px;
  font-weight: 500;
  border-radius: 6px;
  background-color: #fafbfc;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  border: 1px solid var(--subtle-border-color);
  box-shadow: var(--color-btn-shadow), var(--color-btn-inset-shadow);
}

.sticky-profile-grp .username-plus-btn button:hover {
  background-color: #f3f4f6;
}

.right-col {
  padding: 0 16px;
}

.tab-list {
  display: flex;
  list-style-type: none;
  padding-inline-start: 0;
}

.tab-list li {
  padding: 12px 20px;
  display: flex;
  align-items: center;
  border-color: transparent;
  border-width: 2px;
  border-style: solid;
}

.tab-list li.active-tab,
.tab-list li.active-tab:hover {
  border-bottom-color: #f9826c;
}

.tab-list li:hover {
  cursor: pointer;
  border-bottom: 2px solid var(--hover-color);
}

.tab-list li span {
  font-family: var(--system-font);
  font-size: 14px;
}

.tab-list li.active-tab span {
  font-weight: 600;
}

.tab-list li span.badge {
  background-color: #e7eaec;
  margin-left: 8px;
  padding: 2px 6px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: normal;
}

.tab-list li .tab-icons {
  margin-right: 8px;
  fill: #949da5;
}

.tab-list li.active-tab .tab-icons {
  fill: #000;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

.content-wrapper .left-col {
  margin-bottom: 40px;
}

.left-col .col-wrapper .basic-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 18px;
  margin-top: 5px;
}

.profile-pic-wrapper {
  width: 20%;
}

.profile-pic-wrapper img {
  width: 100%;
  border-radius: 100%;
  border: 1px solid var(--subtle-border-color);
  cursor: pointer;
  position: relative;
  z-index: 4;
}

.profile-names {
  margin-left: 20px;
}

.profile-names h1 {
  font-family: var(--system-font);
  font-weight: 600;
  font-size: 26px;
  color: var(--header-bg);
}

.profile-names h4 {
  font-family: var(--system-font);
  color: #586069;
  font-weight: normal;
  font-size: 20px;
  margin-top: 2px;
}

.account-metadata-actions {
  display: flex;
  flex-direction: column-reverse;
}

.follow-btn {
  width: 100%;
  font-family: var(--system-font);
  font-size: 14px;
  cursor: pointer;
  color: var(--header-bg);
  padding: 7px 16px;
  font-weight: 500;
  border-radius: 6px;
  background-color: #fafbfc;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  border-width: 1px;
  border-style: solid;
  border-color: var(--subtle-border-color);
  box-shadow: var(--color-btn-shadow), var(--color-btn-inset-shadow);
}

.follow-btn:hover {
  background-color: #f3f4f6;
}

.bio {
  margin: 16px 0;
}

.bio p {
  font-family: var(--system-font);
  color: var(--header-bg);
  font-size: 17px;
}

.more-info {
  display: flex;
  flex-direction: column-reverse;
}

.account-stats {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 7px 0 20px 0;
}

.account-stats p {
  color: #586069;
  font-family: var(--system-font);
  font-size: 14px;
}

.account-stats p .follower-count,
.account-stats p .following-count,
.account-stats p .star-count {
  font-weight: 600;
  color: #000;
}

.account-stats .stat-icon {
  fill: #586069;
  margin-right: 4px;
}

.followers,
.following,
.divider,
.stars {
  margin-right: 4px;
}

.followers,
.following,
.stars {
  padding: 2px 0;
}

.divider {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  margin-top: 3px;
  background-color: var(--header-bg);
}

.followers a {
  display: flex;
  align-items: center;
  margin-right: 6px;
  text-decoration: none;
}

.followers p,
.following p {
  white-space: nowrap !important;
}

.followers:hover p,
.followers:hover p span.follower-count,
.following:hover p,
.following:hover p span.following-count,
.stars:hover p span.star-count {
  color: var(--link-hover);
}

.followers:hover .stat-icon,
.stars:hover .stat-icon {
  fill: var(--link-hover);
}

.following a {
  display: flex;
  text-decoration: none;
  margin: 0 6px 0 4px;
}

.stars a {
  text-decoration: none;
  margin: 0 6px 0 4px;
  display: flex;
}

.user-info-group {
  display: flex;
  align-items: center;
  margin-top: 7px;
}

.user-organization,
.user-location,
.user-twitter {
  display: none;
}

.user-info-group .info-value {
  margin-left: 6px;
  font-family: var(--system-font);
  font-size: 14px;
  color: var(--header-bg);
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.user-info-group .info-value a {
  color: var(--header-bg);
  text-decoration: none;
}

.user-info-group .info-value a:hover {
  text-decoration: underline;
  color: var(--link-hover);
}

.twitter-icon {
  width: 16px;
  color: #586069;
}

.user-info-icon {
  fill: #586069;
  min-width: 16px;
}

.achievements-group {
  border-top: 1px solid var(--subtle-border-color);
  margin-top: 20px;
  padding: 16px 0;
}

.achievements-group h4,
.highlights-group h4,
.organizations-group h4 {
  font-size: 16px;
  font-weight: 600;
  color: var(--header-bg);
  font-family: var(--system-font);
  margin-bottom: 8px;
}

.achievements-group img {
  width: 64px;
}

.highlights-group,
.organizations-group {
  display: none;
}

.block-link {
  margin: 8px 0;
}

.block-link p {
  color: #586069;
  font-family: var(--system-font);
  font-size: 14px;
}

.block-link p:hover {
  cursor: pointer;
  color: var(--link-hover);
}

.filter-section {
  padding: 16px 0;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--subtle-border-color);
}

.filter-section input {
  width: 100%;
  border-radius: 6px;
  border: 1px solid var(--subtle-border-color);
  padding: 7px 12px;
  font-size: 14px;
  font-family: var(--system-font);
}

.filter-section .button-group {
  display: none;
}

.filter-section .button-group button {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 7px 16px;
  border-radius: 6px;
  margin-right: 4px;
  font-size: 14px;
  font-family: var(--system-font);
  color: var(--header-bg);
  background-color: #fafbfc;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  border-width: 1px;
  border-style: solid;
  border-color: var(--subtle-border-color);
  box-shadow: var(--color-btn-shadow), var(--color-btn-inset-shadow);
  font-weight: 500;
}

.filter-section .button-group button:hover {
  background-color: #f3f4f6;
}

.repository-instance {
  width: 100%;
  padding: 24px 0;
  border-bottom: 1px solid var(--subtle-border-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.repository-instance .left-col {
  width: 80%;
  margin-bottom: 0;
}

.repository-instance .left-col h3 {
  margin-bottom: 10px;
}

.repository-instance .left-col h3 a {
  font-family: var(--system-font);
  color: var(--link-hover);
  font-size: 20px;
  text-decoration: none;
  font-weight: 600;
}

.repository-instance .left-col h3 a:hover {
  text-decoration: underline;
}

.repository-instance .left-col p {
  color: var(--muted-gray);
  font-family: var(--system-font);
  font-size: 14px;
  width: 60%;
  margin-bottom: 17px;
}

.repository-instance .left-col .repo-stats {
  margin-top: 8px;
  display: flex;
  align-items: center;
  font-family: var(--system-font);
  color: var(--muted-gray);
  font-size: 12px;
}

.repo-stats .major-language,
.repo-stats .star-gazes a,
.repo-stats .forks a,
.repo-stats .last-update {
  margin-right: 16px;
  display: flex;
  align-items: center;
}

.repo-stats .star-gazes a,
.repo-stats .forks a {
  text-decoration: none;
  color: var(--muted-gray);
}

.repo-stats .star-gazes a:hover .repo-stat-icons,
.repo-stats .forks a:hover .repo-stat-icons {
  fill: var(--link-hover);
}
.repo-stats .star-gazes a:hover,
.repo-stats .forks a:hover {
  color: var(--link-hover);
}

.repo-stats .major-language .legend {
  width: 11px;
  height: 11px;
  background-color: #f1e05a;
  border-radius: 100%;
  border: 1px solid var(--subtle-border-color);
  margin-right: 3px;
}

.repo-stats .repo-stat-icons {
  fill: var(--muted-gray);
  margin-right: 4px;
}

.repository-instance .right-col {
  width: 20%;
  display: flex;
  justify-content: end;
}

.repository-instance .right-col button {
  margin-left: auto;
  text-align: right;
}

.repository-instance .right-col button {
  padding: 5px 12px;
  display: flex;
  align-items: center;
  border: 1px solid var(--subtle-border-color);
  border-radius: 6px;
  cursor: pointer;
  font-size: 12px;
  font-family: var(--system-font);
  color: var(--header-bg);
  font-weight: 500;
  background-color: #fafbfc;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  box-shadow: var(--color-btn-shadow), var(--color-btn-inset-shadow);
}

.repository-instance .right-col button:hover {
  background-color: #f3f4f6;
}

.repository-instance .right-col button .star-icon {
  margin-right: 6px;
  fill: var(--muted-gray);
}

.form-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  text-align: center;
}

.login-logo-icon {
  fill: var(--header-bg);
}

.login-logo-icon:hover {
  fill: var(--gray-color);
}

.form-wrapper .inner-wrapper .form-box {
  width: 340px;
  border: 1px solid var(--subtle-border-color);
  border-radius: 6px;
  padding: 16px 24px;
  box-sizing: border-box;
  margin-top: 24px;
  background-color: #fff;
}

.form-wrapper .inner-wrapper h2 {
  font-family: var(--system-font);
  font-weight: 500;
  font-size: 24px;
  margin-top: 24px;
  color: var(--header-bg);
}

.form-box {
  margin-bottom: 40px;
}

.form-box #error-text {
  color: red;
  font-size: 13px;
  font-family: var(--system-font);
  text-align: left;
  margin-top: 4px;
  display: none;
}

.form-box label,
.form-box input {
  text-align: left;
  display: block;
  width: 100%;
  font-family: var(--system-font);
  font-size: 14px;
}

.form-box label {
  margin-bottom: 8px;
  font-weight: 500;
}

.form-box input {
  padding: 8px 12px;
  box-sizing: border-box;
  background-color: #f9f9f9;
  border: 1px solid var(--subtle-border-color);
  border-radius: 6px;
}

.form-box button {
  margin-top: 20px;
  cursor: pointer;
  padding: 10px 12px;
  width: 100%;
  border-radius: 6px;
  border: 1px solid var(--header-bg);
  background-color: var(--header-bg);
  color: #fff;
  font-family: var(--system-font);
  font-weight: 500;
  font-size: 14px;
}

.form-box button:hover {
  background-color: var(--gray-color);
  border: 1px solid var(--gray-color);
}

.form-box button:disabled {
  opacity: 0.2;
  cursor: not-allowed;
}

@media only screen and (min-width: 600px) {
  nav.hidden-nav .tab-list li .tab-icons {
    display: inline;
  }
}

@media only screen and (min-width: 768px) {
  nav {
    padding: 0 22px;
  }

  nav button.resp-menu-btn {
    display: none;
  }

  header .mobile-links {
    display: none;
  }

  .logo-icon {
    margin-right: 20px;
  }

  .search-input {
    display: block;
  }

  ul.main-nav {
    display: flex;
  }

  .other-nav li:nth-child(2),
  .other-nav li:nth-child(3) {
    display: block;
  }

  .other-nav li {
    margin-right: 18px;
  }

  .content-wrapper {
    flex-direction: row;
  }

  .profile-tabs {
    display: block;
    position: sticky;
    position: -webkit-sticky;
    z-index: 3;
    top: 0;
    margin-top: 24px;
    background-color: #fff;
    border-bottom: 1px solid var(--subtle-border-color);
  }

  .tab-wrapper {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
  }

  .left-col {
    width: 25%;
  }

  .right-col {
    width: 75%;
  }

  .left-col .col-wrapper {
    margin-top: -35px;
  }

  .left-col .col-wrapper .basic-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .profile-pic-wrapper {
    width: 100%;
  }

  .profile-names {
    margin: 8px 0;
  }

  .user-organization,
  .user-location,
  .user-twitter {
    display: block;
  }

  .highlights-group,
  .organizations-group {
    display: block;
    border-top: 1px solid var(--subtle-border-color);
    padding: 16px 0;
  }

  .highlights-group .highlights-list,
  .organizations-group .organization-list {
    list-style-type: none;
    padding-inline-start: 0;
    margin-top: 12px;
  }

  .highlights-group .highlights-list li {
    display: flex;
    align-items: center;
  }

  .highlights-group .highlights-list li .highlight-icon {
    fill: #586069;
  }

  .highlights-group .highlights-list li .pro-badge {
    text-transform: uppercase;
    font-family: var(--system-font);
    margin-left: 6px;
    color: #6f42c1;
    border: 1px solid #8a63fb;
    border-radius: 12px;
    font-size: 12px;
    font-weight: 500;
    padding: 0 7px;
  }

  .organizations-group .organization-list {
    display: flex;
    align-items: center;
  }

  .organizations-group .organization-list li {
    margin-right: 4px;
  }

  .organizations-group .organization-list li img {
    background-color: #fff;
    border-radius: 6px;
    width: 32px;
    height: 32px;
  }

  .filter-section .button-group {
    display: flex;
    margin-left: 16px;
  }

  .account-metadata-actions {
    display: flex;
    flex-direction: column;
  }

  .more-info {
    flex-direction: column;
  }

  .user-info {
    margin: 20px 0;
  }

  .account-stats {
    margin: 0;
  }

  .hidden-nav {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .main-nav li a .lg-screen {
    display: inline;
  }
}
